@using BlazorServerApp.Pages.Shared
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@using CodeBlock.DevKit.Web.Localization
@inject LocalizationSettings LocalizationSettings
@{
    string currentLangCode = Thread.CurrentThread.CurrentCulture.Name;
    string currentLangDir = LocalizationSettings.GetLanguageDirection(Thread.CurrentThread.CurrentCulture.Name);
}
<!DOCTYPE html>
<html dir="@currentLangDir" lang="@currentLangCode" style="font-family: @LocalizationSettings.GetFont(currentLangCode) !important">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <title>@ViewData["Title"]</title>
    <base href="~/" />
    <link href="css/nspa.@(currentLangDir.ToLower()).min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body class="bg-primary" style="font-family: @LocalizationSettings.GetFont(Thread.CurrentThread.CurrentCulture.Name) !important">
   
    <partial name="_SelectLanguage" model="@("btn btn-danger")" />

    <div class="d-flex flex-column min-vh-90 justify-content-center align-items-center">
        @RenderBody()
    </div>

    <script src="~/js/nspa.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

